# Build artifacts
build/

# Secrets
.env

# Dependency directory
node_modules/

# Code editors
*.swp
.vscode/

# Tests
.nyc_output/
coverage/

# Logs
*.log
npm-debug.log*

# Archives
*.bz2
*.tar

# OS generated
.DS_Store
